<form class="{{cssClass}}" autocomplete="off">

  <header class="">

    <div class="grid header-grid-2col">

      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
      <div class="name-grid-2col">
        <h2 class="grid-item-stretch-height-to-fit"><span class="bold-header">이름:</span></h2>
        <h2 class="grid-item-stretch-height-to-fit">
          <input name="name" class="grid-item-stretch-height-to-fit" type="text" value="{{actor.name}}" title="" />
        </h2>
        {{#if_eq actor.type 'pc'}}
        <h3 class="grid-item-stretch-height-to-fit"><span class="bold-header">배경:</span></h3>
        <h3 class="grid-item-stretch-height-to-fit">
          <input name="system.background" class="grid-item-stretch-height-to-fit" type="text"
            value="{{actor.system.background}}" placeholder="" />
        </h3>
        
        {{else}}
        <h3 class="grid-item-stretch-height-to-fit"><span class="bold-header">몸가짐:</span></h3>
        <h3 class="grid-item-stretch-height-to-fit">
          <input name="system.mien" class="grid-item-stretch-height-to-fit" type="text"
            value="{{actor.system.mien}}" placeholder="" />
        </h3>
        {{/if_eq}}

        <div class="attributes-container">
          <h3><i class="fas fa-sword rollable-skill-test" data-roll-total={{actor.system.skill.value}} data-roll-label="Skill"><span> 기술</span></i></h3>
          <h3><i class="fas fa-heart"><span> 체력</span></i></h3>
          <h3><i class="fas fa-shield"><span> 장갑</span></i></h3>
          {{#if_eq actor.type 'pc'}}
          <h3><i class="fas fa-star rollable-skill-test" data-roll-total={{actor.system.luck.value}} data-roll-label="Test Luck"><span> 행운</span></i></h3>
          {{else}}
          <span></span>
          {{/if_eq}}
          
          <h3><i class="fas fa-bolt"><span> 주도권</span></i></h3>
          
          <div class="">
            <input class="center-aligned-input-text" inputmode="numeric" name="system.skill.value"
              value="{{actor.system.skill.value}}" />
          </div>
          <div class="attribute-container">
            <input class="center-aligned-input-text" name="system.stamina.value"
              value="{{actor.system.stamina.value}}" />
            <span class="">/</span>
            <input class="center-aligned-input-text" inputmode="numeric" name="system.stamina.max"
              value="{{actor.system.stamina.max}}" />
          </div>
          <div>
            <input class="center-aligned-input-text" inputmode="numeric" name="system.armour"
              value="{{actor.system.armour}}" />
          </div>
          
          {{#if_eq actor.type 'pc'}}
          <div class="attribute-container">
            <input class="center-aligned-input-text" inputmode="numeric" name="system.luck.value"
              value="{{actor.system.luck.value}}" />
            <span class="">/</span>
            <input class="center-aligned-input-text" inputmode="numeric" name="system.luck.max"
              value="{{actor.system.luck.max}}" />
          </div>
          {{else}}
          <div></div>
          {{/if_eq}}
          
          <div>
              <input class="center-aligned-input-text" inputmode="numeric" name="system.initiativeTokens"
              value="{{actor.system.initiativeTokens}}" />
          </div>
                    
        </div>

      </div>

    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="skills"><h3 class="no-underline">기술과 주문 및 공격</h3></a>
      <a class="item" data-tab="inventory"><h3 class="no-underline">인벤토리 및 프로비전</h3></a>    
      <a class="item" data-tab="char-notes"><h3 class="no-underline">참고사항 및 능력</h3></a>
  </nav>

  <section class="sheet-body">

    <div class="tab" data-tab="skills" data-group="primary">

      <div class="attacks-section">

        <h3 class="bolded-label no-underline attacks-section-label">공격</h3>
        
        <ol>

          <li class="attacks-grid">
            <h4 class="grid-header-label">이름</h4>
            <h4 class="grid-header-label">1</h4>
            <h4 class="grid-header-label">2</h4>
            <h4 class="grid-header-label">3</h4>
            <h4 class="grid-header-label">4</h4>
            <h4 class="grid-header-label">5</h4>
            <h4 class="grid-header-label">6</h4>
            <h4 class="grid-header-label">7+</h4>
          </li>

          {{#each actor.attacks as |item id|}}
          <li class="attacks-grid item light-underline" data-item-id="{{item._id}}"> 
            <span class="rollable-attack-damage" title="{{item.system.attackTooltip}}">{{item.system.displayName}}</span>
            <span>{{item.system.attack.dr1}}</span>
            <span>{{item.system.attack.dr2}}</span>
            <span>{{item.system.attack.dr3}}</span>
            <span>{{item.system.attack.dr4}}</span>
            <span>{{item.system.attack.dr5}}</span>
            <span>{{item.system.attack.dr6}}</span>
            <span>{{item.system.attack.dr7}}</span>
          </li>
          {{/each}}

        </ol>

    </div>

    <div class="skills-and-spells-section">

        <h3 class="bolded-label grid-item-stretch-height-to-fit no-underline">기술 및 주문</h3>

        <ol class="items-list">

          <li class="skills-and-spells-grid item">
            <h4 class="grid-header-label">개선됨</h4>
            <h4 class="grid-header-label">이름 (주문 시전 비용)</h4>            
            <h4 class="grid-header-label">등급</h4>
            <h4 class="grid-header-label">총</h4>
            <h4 class="grid-header-label">편집</h4>
            <h4 class="grid-header-label">삭제</h4>
          </li>

          {{#each actor.advancedSkills as |item id|}}
          <li class="skills-and-spells-grid item" data-item-id="{{item._id}}">
            <div>
              <input type="checkbox" class="item-improve-checkbox" name="system.improvement" {{checked item.system.improvement}} data-dtype="Boolean" readonly />
            </div>          
            
            <span title="{{remove_html_tags item.system.description}}" class="rollable-skill-test" data-roll-total={{item.system.total}} data-roll-label="{{item.name}}">{{item.name}}</span>

            {{!-- <span>-</span> --}}
            
            <span class="center-aligned-input-text">{{item.system.rank}}
              {{show_rank_modifier item.system.modifier}}
            </span>
            
            {{!-- <input class="center-aligned-input-text bottom-margin-input-text" inputmode="numeric" name="system.modifier" value="{{item.system.modifier}}" readonly /> --}}
            <span class="center-aligned-input-text">{{item.system.total}}</span>
            
            <div class="">
              <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>              
            </div>
            <div class="" >
              <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}
          
          {{!-- put a divider inbetween skills and spells to make it easier to differentiate --}}
          <hr class="solid-divider">

          {{#each actor.spells as |item id|}}
          <li class="skills-and-spells-grid item" data-item-id="{{item._id}}">
            <div>
              <input type="checkbox" class="item-improve-checkbox" name="system.improvement" {{checked item.system.improvement}} data-dtype="Boolean" readonly />
            </div>         
            <span title="{{remove_html_tags item.system.description}}" class="rollable-skill-test" data-roll-total={{item.system.total}} data-roll-label="{{item.name}}">{{item.name}} ({{item.system.castingCost}})</span>

            <span class="center-aligned-input-text">{{item.system.rank}}{{show_rank_modifier item.system.modifier}}</span>
            <span class="center-aligned-input-text">{{sum_three_ints item.system.rank item.system.modifier ../actor.system.skill.value}}</span>

            <div class="">
              <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>              
            </div>
            <div class="" >
              <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
          </li>
          {{/each}}

        </ol>

        <div class="skills-add-buttons-grid">
          <div class="item-controls skills-add-button">
            <a class="item-control item-create" data-type="spell"><i class="fas fa-plus"></i>주문 추가 <i class="fas fa-sparkles"></i></a>                  
          </div>
          <div class="item-controls skills-add-button">
            <a class="item-control item-create" data-type="skill"><i class="fas fa-plus"></i>전문 기술 추가 <i class="fas fa-sword"></i></a>                  
          </div>
        </div>

      </div>
      
    </div>
  
    <div class="tab" data-tab="inventory" data-group="primary" >
        
        <div class="monies-provisions-grid">
          
          <h3 class="bolded-label grid-item-stretch-height-to-fit">돈과 기타 아이템</h3>

          <h3 class=" bolded-label grid-item-stretch-height-to-fit">프로비전</h3>

          <div class="grid-item-stretch-height-to-fit">
            <textarea class="grid-item-stretch-height-to-fit" rows="3" cols="1"
              name="system.monies">{{actor.system.monies}}</textarea>
          </div>

          <div class="provisions-grid">

            <input type="checkbox" class="" name="system.provisions.p1" {{checked actor.system.provisions.p1}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p2" {{checked actor.system.provisions.p2}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p3" {{checked actor.system.provisions.p3}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p4" {{checked actor.system.provisions.p4}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p5" {{checked actor.system.provisions.p5}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p6" {{checked actor.system.provisions.p6}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p7" {{checked actor.system.provisions.p7}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p8" {{checked actor.system.provisions.p8}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p9" {{checked actor.system.provisions.p9}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p10" {{checked actor.system.provisions.p10}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p11" {{checked actor.system.provisions.p11}} data-dtype="Boolean" />
            <input type="checkbox" class="" name="system.provisions.p12" {{checked actor.system.provisions.p12}} data-dtype="Boolean" />
            
          </div>
                
      </div>

      <div>
        <h3 class="bolded-label no-underline small-bottom-margin top-margin-10px">인벤토리</h3>
      </div>
      
      <div class="center-align-div">
      {{#if actor.overburdened}}
        <span class="over-burdened-message">무게가 너무 부담됩니다! 모든 판정에 -4의 패널티를 받으며 움직이기가 힘듭니다. 이와 함께 항상 기습받는 것으로 취급됩니다.</span>
      {{else if actor.inconvenientWeight}}        
        <span class="over-burdened-message">불편할 지경의 무게입니다! 모든 판정에 -4의 패널티를 받습니다</span>
      {{/if}}
      </div>

      <div class="item-list fvtt-item-table">
        
        <ol>
          
          <li class="all-inventory-grid">            
            
            <h4 class="grid-header-label">#</h4>
            <h4 class="grid-header-label">이름</h4>
            <h4 class="grid-header-label">수량</h4>
            <h4 class="grid-header-label">편집</h4>
            <h4 class="grid-header-label">삭제</h4>
          </li>

          {{#each actor.nonweightlessInventory as |item id|}}
          <li class="all-inventory-grid item" data-item-id="{{item._id}}">                                               

            <h4>{{item.system.inventoryPositionDisplay}}</h4> 

            <h4>{{item.name}}</h4>
            
            <h4><i class="item-quantity-down fas fa-minus"></i> {{item.system.quantity}} <i class="item-quantity-up fas fa-plus"></i></h4>                         

            <div class="">
              <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>              
            </div>
            <div class="" >
              <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>

          </li>

          {{/each}}

        </ol>

      </div>

      <div class="weightless-flex">
        <h3 class="bolded-label no-underline small-bottom-margin top-margin-10px">착용함/무게없음/기타</h3>
        <span> (여기서 보이는 아이템은 차지하는 인벤토리 공간이 0입니다.)</span>
      </div>

      <div class="item-list fvtt-item-table">
        
        <ol>
          
          <li class="all-inventory-grid">            
            
            <span></span>
            <h4 class="grid-header-label">이름</h4>
            <h4 class="grid-header-label">수량</h4>
            <h4 class="grid-header-label">편집</h4>
            <h4 class="grid-header-label">삭제</h4>
          </li>

          {{#each actor.weightlessInventory as |item id|}}
          <li class="all-inventory-grid item" data-item-id="{{item._id}}">                                               

            <span></span>

            <h4>{{item.name}}</h4>
            
            <h4><i class="item-quantity-down fas fa-minus"></i> {{item.system.quantity}} <i class="item-quantity-up fas fa-plus"></i></h4>                         

            <div class="">
              <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>              
            </div>
            <div class="" >
              <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>

          </li>

          {{/each}}

        </ol>

      </div>

      <div class="skills-add-buttons-grid">
        <div class="item-controls skills-add-button no-bottom-padding">
          <a class="item-control item-create" data-type="gear"><i class="fas fa-plus"></i>아이템 추가  <i class="fas fa-sack"></i></a>                  
        </div>
      </div>

    </div>
  
    <div class="tab " data-tab="char-notes" data-group="primary" >

      <div class="special-section">

        <h3 class="bolded-label grid-item-stretch-height-to-fit no-underline">특이사항 및 능력</h3>
        
        <div class="special-editor">
          {{editor enrichedSpecial target="system.special" button=true owner=owner editable=editable}}
        </div>
               
      </div>

      <div class="notes-section">

        <h3 class="bolded-label grid-item-stretch-height-to-fit no-underline">기타 참고사항</h3>

        <div class="notes-editor">

          {{editor enrichedNotes target="system.notes" button=true owner=owner editable=editable}}

        </div>

      </div>
      
    </div>

  </section>
  
</form>
